/* scale = 1, 4232 */

a:link, a:visited, a:active, a:focus, a:hover {
	color: #fff;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, a, p, ul, li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	list-style-type: none;
}
body {
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	background-color: #29606b;
	margin: 0;
}
body:before {
	background-image: url('../img/top-bg.png');
	background-repeat: no-repeat;
	background-position: top center;
	position: absolute;
	z-index: -1;
	background-color: #245963;
	content: "";
	width: 100%;
	height: 421px;
}
.main-container {
	width: 824px;
	margin: 0 auto;
	text-align: center;
	min-height: 100%;
}
.main-container:after {
	content: "";
	display: block;
}

/* menu */
.menu {
	width: inherit;
	height: 56px;
	background-color: rgba(41, 96, 107, 0.4);
	border-color: #2a6c78;
	border-style: solid;
	border-width: 0 1px 1px 1px;
}
.menu .title {
	float: left;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 18px;
}
.menu .navigation {
	font-size: 13px;
	float: right;
	padding-right: 6px;
	margin-top: 21px;
}
.navigation ul {
	list-style-type: none;
	margin: 0 20px;
	overflow: auto;
}
.navigation li:last-of-type {
	clear: right;
}
.navigation li {
	float: left;
	margin: 0 0 0 23px;
}

/* common */
.row-header {
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
}
.row-header2 {
	font-size: 14px;
	letter-spacing: 0.3px;
	text-transform: uppercase;
}
.btn {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	background: none;
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	cursor: pointer;
	border: none;
	outline: none;
}
button
{
	text-transform: uppercase;
	text-align: center;
	margin: auto;
    background  : none;
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
    cursor  : pointer;
    border  : none;
    outline:none;
}
.linned:before {	
	display: inline-block;
	margin: 0 0.5em;
	margin-bottom: 0.3em;
	border: solid 2px #387d89;
	border-width: 2px 0 0 0;
	content: "";
}
.linned:after {	
	display: inline-block;
	margin: 0 0.5em;
	margin-bottom: 0.3em;
	border: solid 2px #387d89;
	border-width: 2px 0 0 0;
	content: "";
}

/* icons */
.icon {
	margin: 0 auto;
	content: "";
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background-color: #fff;
	color: #245963;
	background-size: 39px;
	background-repeat: no-repeat;
	background-position: center center;
}
.icon-chat {
	background-image: url('../img/chat.png');
}
.icon-crown {
	background-image: url('../img/crown.png');
}
.icon-pencil {
	background-image: url('../img/pencil.png');
}
.icon-user {
	background-image: url('../img/user.png');
}
.icon-mail {
	background-image: url('../img/mail.png');
}

/* colors */
.red {
	background-color: #e84c3d;
}
.orange {
	background-color: #fdbd1f;
}
.emerald {
	background-color: #1bbc9b;
}
.pink {
	background-color: #9b58b5;
}
.item-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11px;
	text-align: center;
}

/* banner */
.banner {
	text-align: center;
	margin-top: 96px;
	text-transform: uppercase;
}
.banner h1 {
	font-size: 29px;
	letter-spacing: 3.3px;
	font-weight: 500;
}
.banner .btn-empty {
	margin-top: 16px;
	padding-top: 10px;
	font-size: 12px;
	width: 101px;
	height: 40px;
	background-image: url('../img/btn-empty.png');
	background-repeat: no-repeat;
}
.banner h2 {
	font-size: 22px;
	margin-top: 10px;
	letter-spacing: 3.3px;
	font-weight: 500;
}

/* row1 */
.row1 {
	margin-top: 84px;
	height: 472px;
}
.row1 li {
	display: table;
	width: 50%;
	height: 236px;
	float: left;
}
.row1 li:last-of-type {
	clear: right;
}
.row1-item {
	display: table-cell;
	vertical-align: middle;
}
.row1 .item-header {
	margin-top: 0.8em;
	font-family: 'Fjalla One', sans-serif;
	font-size: 21px;
	text-transform: uppercase;
}
.row1 .item-text {
	width: 60%;
	margin: 0.4em auto;
}

/* row2 */
.row2 {
	margin-top: 53px;
}
.row2 .row-header2 {
	margin-top: 7px;
}
.row2 .row-header2 .linned:before {
	width: 85px;
}
.row2 .row-header2 .linned:after {
	width: 85px;
}

.row2-items {
	margin-top: 47px;
	height: 350px;
}
.span {
	border-style: solid;
	border-top-width: 5px;
}
.span-red {	
	border-color: #e84c3d;
}
.span-orange {	
	border-color: #fdbd1f;
}
.span-emerald {	
	border-color: #1bbc9b;
}
.row2-item {
	border-top: 5px;
}

.row2 .item-icon {
	margin: 0 auto;
	content: "";
	width: 128px;
	height: 128px;
	border-radius: 64px;
	background-color: #fff;
	background-repeat: no-repeat;
}
.item-icon-user1 {
	background-image: url('../img/user1.png');
	background-size: 337px 450px;
	background-position: -88px -50px;
}
.item-icon-user2 {
	background-image: url('../img/user2.png');
	background-size: 337px 454px;
	background-position: -89px -58px;
}
.item-icon-user3 {
	background-image: url('../img/user3.png');
	background-size: 286px 382px;
	background-position: -93px -65px;
}
.row2 button {
	margin-top: 18px;
	padding-bottom: 5px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	background-repeat: no-repeat;
	width: 73px;
	height: 29px;
}
.row2 .btn {
	height: 29px;
	width: 73px;
}
.btn-colored {
    position: relative;
    color: #fff;
}
.btn-colored > span {
    display: inline-block;
    width: 73px;
    height: 22.46153846153846px;
    background-color: #007BFF;
    left: 0px;
    top: 0px;
}
.btn-colored > span+span {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #007BFF;
    left: 34px;
    top: 22px;
}
.btn-colored-red > span {
    background-color: #e84c3d;
}
.btn-colored-red > span+span {
    border-top-color: #e84c3d;
}
.btn-colored-orange > span {
    background-color: #fdbd1f;
}
.btn-colored-orange > span+span {
    border-top-color: #fdbd1f;
}
.btn-colored-emerald > span {
    background-color: #1bbc9b;
}
.btn-colored-emerald > span+span {
    border-top-color: #1bbc9b;
}

.row2 .btn-red {
	background-image: url('../img/btn-red.png');
}
.row2 .btn-orange {
	background-image: url('../img/btn-orange.png');
}
.row2 .btn-emerald {
	background-image: url('../img/btn-emerald.png');
}
.row2 li {
	float: left;
	margin-right: 20px;
}
.row2 li:last-of-type {
	margin-right: 0;
	clear: right;
}
.row2-item {
	display: table-cell;
	vertical-align: middle;
	background-color: #245963;
	height: 345px;
	width: 260px;
}
.row2 .item-text {
	margin: 2em auto;
	color: #76b2be;
	width: 82%;
	line-height: 1.5em;
}

/* row3 */
.row3 {
	height: 415px;
	width: inherit;
	margin-top: 53px;
}
.row3 .row-header {
	margin-top: 0.7em;
}
.row3 .row-header2 {
	margin-top: 0.6em;
}
.row3 form {
	margin: 25px auto;
	width: 400px;
}
.row3 .row-header2 .linned:before {
	width: 57px;
}
.row3 .row-header2 .linned:after {
	width: 57px;
}
input, textarea {
	background-color: #245963;
	border: solid 1px #387d89;
}
form .textbox {
	width: 188px;
	height: 28px;
	font-size: 14px;
	color: #fff;
	padding-left: 4px;
}
form .name {
	float: left;
}
form .email {
	float: right;
}
form .message {
	clear: both;
	margin-top: 20px;
	width: 394px;
	height: 85px;
}
form .btn-submit {
	margin-top: 18px;
	padding-bottom: 4px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	background-color: inherit;
	background-image: url('../img/btn-submit.png');
	background-repeat: no-repeat;
	width: 72px;
	height: 29px;
}

/* footer */
.footer {
	font-family: 'Source Sans Pro', sans-serif;
	height: 140px;
	width: 100%;
	background-color: #245963;
	font-size: 11px;
	text-align: center;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.contacts {
	margin-top: 30px;
	display: inline-block;
}
.contacts span {
	margin: 0 5px;
}
.contacts:after {	
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 200px;
	border: solid 2px #387d89;
	border-width: 2px 0 0 0;
	content: "";
}
.social-icon {
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background-color: #fff;
	color: #245963;
	font-family: FontAwesome;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.social-icon .facebook:before {
	content: "\f09a";
	display: inline-block;
	margin-top: 0.7em;
}
.social-icon .twitter:before {
	content: "\f099";
	display: inline-block;
	margin-top: 0.7em;
}
.copyrights {
	margin-top: 22px;
}
.gold {
	color: #fdbd1f;
}