/* scale = 1,4232 */

a:link,
a:visited,
a:active,
a:focus,
a:hover {
	color: #fff;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	list-style-type: none;
}

body {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
	background-image: url('../img/top-bg.png');
	background-repeat: no-repeat;
	background-position: top center;
    background-color: #29606b;
    margin: 0;
}

.main-container {
    width: 824px;
	margin: 0 auto;
	text-align: center;
    min-height: 100%;
}

.main-container:after {
    content: "";
    display: block;
}

/* menu */

.menu {
	width: inherit; 
	height: 56px; 
	background-color: rgba(41, 96, 107, 0.4);
	border-color: #2a6c78;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.menu .title {
	float: left;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 18px;
}

.menu .navigation {
    font-size: 13px;
    float: right;	
    padding-right: 6px;
    margin-top: 21px;
}

.navigation ul {
    list-style-type: none;
    margin: 0 20px;
}

.navigation li {
	float: left;
    margin: 0 0 0 23px;
}

/* banner */

.banner {
	/*height: 214px;*/
	text-align: center;
	padding-top: 96px;
	text-transform: uppercase;	
}

.banner h1 {
	font-size: 29px;	
}

.banner h2 {
	font-size: 22px;	
    margin-top: 10px;
}

.btn {	
	text-transform: uppercase;	
}

.banner .btn {
	margin-top: 24px;
	font-size: 14px;
}

.row-header {	
	clear: both;
	font-size: 22px;
	text-transform: uppercase;
}

.row-header2 {	
	clear: both;
	font-size: 14px;
	text-transform: uppercase;	
}

/* icons */

.icon {
    margin: 0 auto;
	content: "";
    width: 70px; 
    height: 70px; 
    border-radius: 35px;
    background-color: #fff;
    color: #245963;
    background-size: 39px;
	background-repeat: no-repeat;
	background-position: center center;
}

.icon-chat {
	background-image: url('../img/chat.png');
}

.icon-crown {
	background-image: url('../img/crown.png');
}

.icon-pencil {
	background-image: url('../img/pencil.png');
}

.icon-user {
	background-image: url('../img/user.png');
}

.icon-mail {
	background-image: url('../img/mail.png');
}

.red {
	background-color: #e84c3d;
}

.orange {
	background-color: #fdbd1f;
}

.emerald {
	background-color: #1bbc9b;
}

.pink {
	background-color: #9b58b5;
}

.item-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11px;
	text-align: center;
}

/* row1 */

.row1 {
	margin-top: 98px;
}

.row1 table {
	border-spacing: 0;
}

.row1 td {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 411px;
	height: 236px;
}

.row1-item {
	margin-top: 10px;
}

.row1 .item-header {
	margin-top: 0.5em;
    font-family: 'Fjalla One', sans-serif;
	font-size: 21px;	
	text-transform: uppercase;	
}

.row1 .item-text {
	margin: 0.4em auto;
}



/* row2 */

.row2 {
	padding-top: 50px;
}

.row2 .row-header2 {
	margin-top: 7px;
}

.row2-items {
	margin-top: 49px;	
}

.row2-items .span {
	height: 5px;
}

.row2 .item-icon {
    margin: 0 auto;
	content: "";
    width: 128px; 
    height: 128px; 
    border-radius: 64px;
    background-color: #fff;
	background-repeat: no-repeat;
}

.item-icon-user1 {
	background-image: url('../img/user1.png');
	background-size: 337px 450px;
	background-position: -88px -50px;
}

.item-icon-user2 {
	background-image: url('../img/user2.png');
	background-size: 337px 454px;
	background-position: -89px -58px;
}

.item-icon-user3 {
	background-image: url('../img/user3.png');
	background-size: 286px 382px;
	background-position: -93px -65px;
}

.row2 li {
	float: left;
	padding-right: 20px;	
}

.row2 li:last-of-type {
	padding-right: 0;	
	clear: right;
}

.row2-item {	
	display: table-cell;
	vertical-align: middle;
	background-color: #245963;
	height: 345px;
	width: 260px;
}

.row2 .item-text {
	margin: 2em auto;
	color: #76b2be;
	width: 82%;
	line-height: 1.5em;
}

/* row3 */


.row3 {
	clear: left;
	height: 435px;
	width: inherit;
	padding-top: 56px;
}

.row3 .row-header {
	margin-top: 0.7em;
}

.row3 .row-header2 {
	margin-top: 0.6em;
}

.row3 form {
    margin: 25px auto;
	width: 400px;
}

input, textarea {
	 background-color: #245963; 
	 border: solid 1px #387d89;
}

form .textbox { 
	width: 188px; 
	height: 28px;
}

form .name {
	float: left;
}

form .email {
	float: right;
}

form .message {
	clear: both;
	margin-top: 20px;
	width: 394px; 
	height: 85px;
}

form .btn-submit {
	margin-top: 18px;
    font-family: 'Fjalla One', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	width: 72px; 
	height: 25px;
}

/* footer */


.footer {
	font-family: 'Source Sans Pro', sans-serif;
	height: 140px; 
	width: 100%;
	background-color: #245963;
	font-size: 11px;
    text-align: center;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.contacts {
	margin-top: 10px;
	display: inline-block;
}


.social-icon {
    width: 26px; 
    height: 26px; 
    border-radius: 13px;
    background-color: #fff;
    color: #245963;
	font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.social-icon .facebook:before {
    content: "\f09a";  
    vertical-align: middle; 
}

.social-icon .twitter:before {
    content: "\f099";
    vertical-align: middle; 
}

.copyrights {
	margin-top: 43px;
}

.gold {
	color: #fdbd1f;
}