.btn-colored {
    position: relative;
}
.btn-colored > span {
    position: absolute;
    display: inline-block;
    width: 73px;
    height: 22.46153846153846px;
    background-color: #007BFF;
    left: 0px;
    top: 0px;
}
.btn-colored > span+span {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;

    background-color: transparent;
    border: 11.23076923076923px solid transparent;
    border-top: 11.23076923076923px solid #007BFF;
    left: 28.076923076923073px;
    top: 22.46153846153846px;
}
